body {
  margin: 0;
  padding: 0;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  font-family: 'Questrial', sans-serif;
  height: auto;
  box-sizing: border-box; }

.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  height: 61px;
  top: 0;
  box-shadow: 0 3px 2px -2px #ce6e00; }
  .nav__left {
    min-width: 30%;
    text-align: center; }
    .nav__left a {
      text-decoration: none;
      color: Orange;
      text-transform: uppercase;
      font-size: 30px;
      font-family: 'Oswald', sans-serif;
      font: 700 30px/1.4em Oswald; }
  .nav__right {
    display: flex;
    min-width: 70%;
    align-items: center;
    justify-content: right;
    font-family: 'Questrial', sans-serif; }
    .nav__right ul {
      padding: 0px;
      margin: auto;
      margin-right: 60px;
      display: inline;
      text-decoration: none;
      align-items: right; }
      .nav__right ul li {
        display: inline; }
        .nav__right ul li a {
          text-decoration: none;
          padding: 40px;
          color: white; }
          .nav__right ul li a:hover {
            color: orange;
            transition: 0.3s; }
      .nav__right ul .active {
        color: orange; }

.bgbox {
  margin-top: 61px;
  width: 100%;
  height: 100vh;
  background-image: url(../images/fireplace.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .bgbox h1 {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding: 20px 30px;
    color: white;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.media {
  position: fixed;
  right: 0;
  width: 25px;
  height: auto;
  z-index: 999;
  top: 50%;
  margin-right: 30px; }
  .media ul {
    color: white;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .media ul li .fab:hover {
      color: orange;
      transition: 0.3s; }

.about {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  justify-items: stretch;
  align-items: stretch; }
  .about .box1 {
    background: red;
    grid-column: 1/3;
    grid-row: 1/5;
    justify-self: end; }
    .about .box1 img {
      width: 100%;
      height: 800px;
      object-fit: cover; }
  .about .box2 {
    color: white;
    padding: 10px;
    /*background:green;*/
    grid-column: 3/4;
    grid-row: 3/4; }
  .about .box3 {
    grid-column: 2/4;
    grid-row: 1; }
    .about .box3 h1 {
      padding-left: 110px;
      text-transform: uppercase;
      color: orange;
      font-family: 'Oswald', sans-serif;
      font: 700 60px/2em Oswald; }

.gallery-section {
  width: 100%;
  padding: 100px 0; }
  .gallery-section .inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px; }
    .gallery-section .inner-width .border {
      width: 50%;
      height: 3px;
      background: orange;
      margin: 60px auto;
      border: 0px solid orange !important; }
  .gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center; }
    .gallery-section .gallery .image {
      flex: 25%;
      overflow: hidden; }
      .gallery-section .gallery .image img {
        width: 100%;
        height: 300px;
        transition: 1s;
        object-fit: cover; }
        .gallery-section .gallery .image img:hover {
          transform: scale(1.4) rotate(15deg); }
  .gallery-section h1 {
    text-align: center;
    text-transform: uppercase;
    color: orange; }

.community {
  width: 100%;
  padding: 100px 0; }
  .community .inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px; }
    .community .inner-width .container {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      padding: 0; }
      .community .inner-width .container .box {
        flex: 1;
        background-image: linear-gradient(45deg, black, #2d3436);
        border: 1px solid orange;
        padding: 20px;
        font-size: 12px;
        margin: 20px;
        color: white;
        min-width: 350px; }
        .community .inner-width .container .box:hover {
          box-shadow: 0 0 4px 2px orange; }
        .community .inner-width .container .box h2 {
          color: orange;
          text-align: center; }
        .community .inner-width .container .box p {
          padding-top: 10px;
          text-align: center; }
        .community .inner-width .container .box img {
          width: 100%;
          height: 300px;
          object-fit: cover; }
  .community .border {
    width: 580px;
    height: 3px;
    background: orange;
    margin: 60px auto;
    border: 0px solid orange !important; }
  .community h1 {
    text-align: center;
    color: Orange; }

.contact {
  padding: 60px 0; }
  .contact .border {
    width: 580px;
    height: 3px;
    background: orange;
    margin: 60px auto;
    border: 0px solid orange !important; }
  .contact h1 {
    text-align: center;
    color: Orange; }
  .contact .contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden; }
    .contact .contact-form .contact-form-text {
      display: block;
      width: 100%;
      box-sizing: border-box;
      margin: 16px 0;
      border: 0;
      background: #111;
      padding: 20px 40px;
      outline: none;
      color: #ddd;
      transition: 0.5s; }
      .contact .contact-form .contact-form-text:focus {
        box-shadow: 0 0 4px 2px orange; }
    .contact .contact-form .contact-form-btn {
      display: block;
      margin: auto;
      border: 0;
      background: black;
      border: 1px solid orange;
      color: #ddd;
      padding: 12px 50px;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.5s; }
      .contact .contact-form .contact-form-btn:hover {
        background: orange; }

.footer {
  background-image: linear-gradient(45deg, #FF5A00, #FFAE00);
  color: white;
  height: 61px;
  text-align: center; }

@media screen and (max-width: 960px) {
  .gallery-section .gallery .image {
    flex: 33%; }
  .community .inner-width .container {
    flex-direction: column; } }

@media screen and (max-width: 760px) {
  .gallery-section .gallery .image {
    flex: 50%; }
  .community .inner-width .container {
    flex-direction: column; } }

@media screen and (max-width: 480px) {
  .gallery-section .gallery .image {
    flex: 100%; }
  .community .inner-width .container {
    flex-direction: column; } }

