body {
  margin: 0;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  font-family: 'Questrial', sans-serif;
  height: auto; }

.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  height: 61px;
  top: 0;
  box-shadow: 0 3px 2px -2px #ce6e00; }
  .nav__left {
    min-width: 30%;
    text-align: center; }
    .nav__left a {
      text-decoration: none;
      color: Orange;
      text-transform: uppercase;
      font-size: 30px;
      font-family: 'Oswald', sans-serif;
      font: 700 30px/1.4em Oswald; }
  .nav__right {
    display: flex;
    min-width: 70%;
    align-items: center;
    justify-content: right;
    font-family: 'Questrial', sans-serif; }
    .nav__right ul {
      padding: 0px;
      margin: auto;
      margin-right: 60px;
      display: inline;
      text-decoration: none;
      align-items: right; }
      .nav__right ul li {
        display: inline; }
        .nav__right ul li a {
          text-decoration: none;
          padding: 40px;
          color: white; }
          .nav__right ul li a:hover {
            color: orange;
            transition: 0.3s; }
      .nav__right ul .active {
        color: orange; }

.main {
  margin-top: 61px;
  height: auto;
  width: 100%; }
  .main .card {
    position: relative;
    width: 100%;
    margin: o;
    padding: o;
    margin-top: 61px;
    text-align: center; }
    .main .card__image {
      height: 850px;
      width: 100%;
      object-fit: cover; }
    .main .card__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white; }
      .main .card__text h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        border: 3px solid white;
        padding: 2rem 4rem; }
  .main .about {
    position: relative;
    display: flex;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    min-height: 800px;
    width: 80%; }
    .main .about__image {
      background-color: white;
      flex-grow: 1;
      object-position: 50% 50%;
      width: 500px;
      object-fit: cover; }
    .main .about__text {
      background-color: white;
      flex-grow: 1;
      color: white;
      width: 500px; }
    .main .about h1 {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      font-size: 50px;
      text-transform: uppercase;
      padding: 2rem 4rem; }

.media {
  position: fixed;
  right: 0;
  width: 22.5px;
  height: auto;
  z-index: 999;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }
  .media ul {
    color: white;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .media ul li .fab:hover {
      color: orange;
      transition: 0.3s; }

