<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>  
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/750f24e27c.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="nav">
    <div class='nav__left'>
      <a href="#" ><span>PIZZALAND</span></a>
    </div>
    <div class="nav__right">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Apply</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
    </div>
  </nav>
  <div class="media">
      <ul>
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-youtube"></i></li>
        <li><i class="fab fa-snapchat-ghost"></i></li>
      </ul>
  </div>
  <main class="main">
    <div class="card">
      <img class="card__image" src="assets/images/fireplace-1082342.jpg" alt="">
      <div class="card__text"><h1>BLABLABLABLA</h1></div>
    </div>
    <article class="about">
      <h1>OUR STORY</h1>
      <div><img class="about__image" src="assets/images/about.jpg" alt="x"></div>

      <div class="about__text"><p>I'm a paragraph. Click here to add your own text and edit me.
         It’s easy. Just click “Edit Text” or double click me and you can start adding your own 
         content and make changes to the font. Feel free to drag and drop me anywhere you like on your page.
          I’m a great place for you to tell a story and let your users know a little more about you.
I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double 
click me and you can start adding your own content and make changes to the font. </p></div>
    </article>
  </main>

  </main>
</body>

</html>